#slider {
    width:auto;
    height: 400px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: auto;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width:auto;
    height: 400px;
}

/* helper css, since we don't have images */

/* helper css, since we don't have images */
.slide1 img{
  100%
}
.slide2 img{
  100%
}
.slide3 img{
  100%
}
.slide4 img{
  100%
}
.slide5 img{
  100%
}

.rslides {
position: relative;
list-style: none;
overflow: hidden;
width: 100%;
padding: 0;
margin: 0;
}

.rslides li {
-webkit-backface-visibility: hidden;
position: absolute;
display: none;
width: 100%;

left: 0;
top: 0;
}

.rslides li:first-child {
position: relative;
display: block;
float: left;
}

.rslides img {
display: block;
height: auto;
float: left;
width: 100%;
border: 0;
}
