



  body{

  font-size: 16px;
  line-height: auto;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif,  Verdana,sans-serif;;
  padding: 0px; margin: 0px;
  text-align: justify;

}


.secure


input {
    height: 40px;
    display: block;
    width: 60%;

    font-size: 16px;
    color: #555;
    line-height: 1.2;
    padding: 0 5px;
    outline: none;
    border: 1px solid #4CAF50;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
    padding-left: 20px;
    border-radius: 6px
}

select {
    height: 40px;
    display: block;
    width: 60%;

    font-size: 16px;
    color: #555;
    line-height: 1.2;
    padding: 0 5px;
    outline: none;
    border: 1px solid #4CAF50;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
    padding-left: 20px;
    border-radius: 6px
}


.ecosystem{
  width:50%;
}

.pad{
  padding: 0px 10%;
}

.quote-slide{
  min-height: 140px;
}

.rar{
  float: left;
  width:12.5%;
  border: 1px solid #fff;
  background-color:#3B5323;
  color: #fff;
  height: 120px;
  padding: 1%

}


 .button{
       box-shadow: 0 5px 5px -2px rgba(31,31,31,.4);


           border: 1px solid transparent;

font-size: 22px;
           text-shadow: 0 0 15px rgba(0,0,0,0.5);
           border-radius: 20px;
           transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

           color: #fff;
           background-color:#3B5323;
           border-color:#3B5323 ;

    padding: 3px 30px;}

.button:hover {
    color: #fff;
    background-color: #4CAF50;
    border-color: #bd2130;
    background-color:orangered;
    border-color:orangered ;


  }



.row-1{
  width: 35%;
}
/*global*/
.container{width: 80%;
  margin: auto;
  overflow: hidden;}

  a:hover{
    color: #3B5323
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif,  Verdana,sans-serif;;
      font-weight: 600;
      margin: 10px 0; color:#3B5323}

  a{
    text-decoration: none;
    color: inherit;
  }

  p{
    font-size: 20px;
    margin-top: 0px;
    color: #666;
    font-size: 16px;
  font-weight: 600px;

  }


  a:{
    text-decoration: none;
    color: #fff;
  }





h2{
  font-size: 24px;
  color: #fff;
}


/*header*/

.whatsapp{
  margin-top: 5px;
}
.whatsapp:hover {
  width: 48px;
}

.logo:hover{
  width: 60px;
}

.logo{
  width:60px;
}

header.conntainer{
  width:100%
}

header{background-color:#3B5323 ;
  color: #ffffff;
  padding-top: 0px;
  min-height:60px;
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
border-bottom:1px solid #4CAF50;
  width: 100%;
  position: fixed;
}

header a{color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;}

 ul{margin: 10px;
  padding: 0px; /*float: right*/;}

 li{float: left;
  display: inline;
  padding: 10px 20px 0px 20px;
}


header .branding h1{margin:0px; padding: 0px; display: inline}

header nav, .whatsapp{float:right;}

header .highlight, header .current a{ color: #4CAF50;
  font-weight: bold;}

  header a:hover{color:#3B5323;}




  /*SECTION-1  SECTION-1  SECTION-1  SECTION-1  SECTION-1  SECTION-1  SECTION-1  SECTION-1  SECTION-1  SECTION-1  SECTION-1  SECTION-1 */

.section-1 {
min-height: auto;
width: 100%;
background: url("../img/benjamin-davies-260884-unsplash.jpg");

/*background-color: #3B5323;*/
/*background-color:
    background: #112B3D;
    background: -moz-radial-gradient(50%, circle cover, #1b566b 1%, #112B3D 60%);
    background: -webkit-radial-gradient(50%, circle cover, #1b566b 1%, #112B3D 60%);
    background: radial-gradient(circle at 50%, #1b566b 1%, #112B3D 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b566b', endColorstr='#112B3D',GradientType=1 );&*/
text-align: center;
color:#ffffff;
background-size: cover;
background-repeat: no-repeat;
background-attachment: local;
text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.section-1 .row{
  width:46%;
  float: left;margin: 2%; padding: 3px; margin-top: 10%


}

.section-3 .row{
  width:28%;
  float: left;margin: 2%; padding: 3px


}

.section-4{
  background-color: #4CAF50;

}

.section-4 h1{
  color:#fff; width:50%;
}

.section-4 .row{
  width:46%;
  float: left;margin: 2%; padding: 3px; background-color:#3B5323; border-radius: 10px; padding: 3%; color: #fff;


}
.section-5 .row{
  width:20%;
  float: left;margin: 2%; padding: 10px; background-color: #fff; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}
.section-2{
  background-color: #f5f3f5
}
.section-3{
  background-color: #f5f3f5
}
.section-5{
  background-color: #f5f3f5
}


  .section-7 .row{


width: 19%;
float: left;
margin: 5px;



  }

.workspace{
    background-color: #f5f3f5;
      height: auto;
  width: 90%;
  padding: 60px 0px 0px 260px;

  box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
}




.workspace-main{
    background-color: #f5f3f5;
  width: 90%;
  padding: 60px 0px 0px 0px;

  box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
}

.workspace-main .row{
  float:left;
  width:43%;
  margin: 25px 60px 60px 0px
}

.workspace-main input{
  width: 90%;
}

/*footer  footer  footer  footer  footer  footer  footer  footer  footer  footer  footer  footer  footer  footer  footer  footer  footer*/

.footer{
  background-color: #3B5323;
  height: auto;
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif, Verdana,sans-serif;
  padding-top: 30px;

}


.footer .side{
  float: left;
  width: 33%;
  height: auto;
  padding-bottom: 10px;


}

.footer i{
  color: #999;
  margin: 5px;
  font-size: 1.5rem;
}

.footer-image{
  width: 3%;
}

.footer p{
  color: #999;
  font-size:16px;
}

.footer span{
  font-size: 20px;
  padding-left: 15px;
  color: #999;
}

/*---------------------ABOUT----------------------------*/
/*-------------------ABOUT-----------------------------*/
/*--------------------ABOUT----------------------------------*/




  .sec-1 {
  min-height: 800px;
  width: 100%;
  background: url("../img/team3.jpg") no-repeat 0 -0px;
  text-align: center;
  color:#ffffff;
  background-size: cover;
  background-attachment: local;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  margin-bottom: 10%;

  }

.text{
  width: 70%;
  margin-left:190px; font-size: 18px
}
.section-4 .aaa

{
  float:right
}

/*----------------------MEDIA QUERIES------------------------*/
/*---------------------MEDIA QUERIES----------------------------*/
/*-------------------MEDIA QUERIES-----------------------------*/
/*-------------------MEDIA QUERIES-----------------------------*/


@media(max-width:1200px){

ul, li{
  display: none;
}

.whatsapp{
  display: none;
}

}


@media(max-width:780px){

  .section-4 .aaa

  {
    float:none
  }

  .section-7 .row{


width: auto;
float: none;



  }
  .pad{
    padding: auto
  }
  .rar{
    text-align:center;
    float: none;
    width:60%;
    border: 1px solid #fff;
    background-color:#3B5323;
    color: #fff;
    height: auto;
    padding: 5%;
    margin: 0px 20%

  }

  .row-1{
    width: auto;
  }
.big-img{
  display: none;
}



  input{
      height: 40px;
      display: block;
      width: 95%;

      font-size: 16px;
      color: #555;
      line-height: 1.0;
      padding: 0 5px;
      outline: none;
      border: 1px solid #4CAF50;
      box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
      padding-left: 20px;
      border-radius: 6px
  }
  select {
      height: 40px;
      display: block;
      width: 95%;

      font-size: 16px;
      color: #555;
      line-height: 1.2;
      padding: 0 5px;
      outline: none;
      border: 1px solid #4CAF50;
      box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
      padding-left: 20px;
      border-radius: 6px
  }

   .button{
         box-shadow: 0 5px 5px -2px rgba(31,31,31,.4);


             border: 1px solid transparent;

  font-size: 18px;
             text-shadow: 0 0 15px rgba(0,0,0,0.5);
             border-radius: 20px;
             transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

             color: #fff;
             background-color:#3B5323;
             border-color:#3B5323 ;

      padding: 2% 10%;}

  .button:hover {
      color: #fff;
      background-color: #4CAF50;
      border-color: #bd2130;
      background-color:orangered;
      border-color:orangered ;


    }

    .workspace-main .row{
      float:none;
      width:100%;
    }

  .section-1 .row{
    width:auto;
    float: left; margin: 2%; padding: 3px; margin-top: 10%


  }
  .section-5 .row{
    width:95%;
    float: none;margin-bottom: 20%; padding: 10px;
    font-family: sans-serif;

  }


  .section-3 .row{
    width:auto;
    float: none;margin: 2%; padding: 3px


  }

  .section-4 h1{
    color:#fff; width:100%
  }

  .section-4 .row{
    width:auto;
    float: none;


  }

  .workspace{
      background-color: #f5f3f5;
        height: auto;
    width: 90%;
    padding: 10px 0px 0px 10px;

    box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
  }



.footer .side{
  float: none;
  width:100%
}

nav{
  width: 100%
}


  li, ul{float: left;

    text-align: center;

   padding: 0px 0px 0px 0px;
   width: 100%;
   font-size: 14px;
   font-family: sans-serif;
  }


li{
  border-bottom: 1px solid #333;
}





  body{
  text-align: left;
  text-overflow:
  }

header .container{
  width: 90%;
}



  header{background-color:#3B5323;
    color: #ffffff;
    padding-top: 0px;
    min-height:60px;
    border-bottom:  3px solid #4CAF50;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);

    width: 100%;
    position: fixed;
    opacity: 10px;
  }


/*----------------------ABOUT------------------------*/
/*---------------------ABOUT----------------------------*/
/*-------------------ABOUT-----------------------------*/
/*------------------------------------------------------*/



.sec-1 {
min-height: 800px;
width: 100%;
background: url("../img/header9.jpg") no-repeat 0 -240px;
text-align: center;
color:#ffffff;
background-size: cover;
background-attachment: local;
text-shadow: 0 0 15px rgba(0,0,0,0.5);
margin-bottom: 10%;

}





}


@media(max-width:500px){
  .section-4 .aaa

  {
    float:none
  }

  .quote-slide{
    min-height: 260px;
  }


  .ecosystem{
    width:90%;
  }



.sec-1{
  display: none;


}

.section-3 h4{
  font-size:16px;
  font-weight:200px;
}
  .text{
    width: 100%;
    margin-left:0px; font-size: 18px
  }


  .gif{
    width: 100%;
  }

.left-side img{
  width: 60%;
}

.left-side h1{
font-family: inherit;}



.workspace-main .row{
  float:none;
  width:100%;
}

.workspace-main input{
  width: auto;
}



body {
  font-size: 20px;

  font-weight: 400;
  }

  p{
      font-size: 18px;
  }

  .container{
    width: 90%
  }


  .logo{
    width: 50px;
  }

   .whatsapp{
     width: 16%;
     padding-top:2px; float:right
   }


   .section-1 h1, .section-2 h1, .section-5 h1, .section-4 h1, .section-7 h1{
     font-size: 120%;
   }


  .section-1 {
  min-height: auto;
  width: auto;
  background: url("../img/benjamin-davies-260884-unsplash.jpg");

  text-align: center;
  color:#ffffff;
  background-size:cover ;
  background-attachment: local;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  margin-bottom: 0%;

  }





  .section-1 h1, {
      font-size: 15px;

  }

  .section-1 h1{
    margin-top: 0px;
    color: #3B5323;
  }


.section-1{


padding-top:
  70px;




}


/*----------------------ABOUT------------------------*/
/*---------------------ABOUT----------------------------*/
/*-------------------ABOUT-----------------------------*/
/*------------------------------------------------------*/



  .sec-1 {
  min-height: 450px;
  width: 100%;
  background: url("../img/header11.jpg") no-repeat 0 -50px;
  text-align: center;
  color:#ffffff;
  background-size: cover;
  background-attachment: local;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  margin-bottom: 10%;

  }


  /*----------------------contact------------------------*/
  /*---------------------contact----------------------------*/
  /*-------------------contact-----------------------------*/
  /*------------------------------------------------------*/




}
